.main {
    background-color:black;
    height: 50px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
}

a {
    font-weight: bolder;
    color:white;
}

.active {
    color: aqua;
}